

body {
    background-color: rgb(247, 194, 97);
    
    
}
.navbar {
    background-color:black;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    
}
#logo{
    color: rgb(189, 33, 33);
    font-size: 60px;
    font-weight: 700;
}

.nav-items li{
    list-style: none;
    display: inline;
    padding-left: 60px;
}
.nav-items li a {
    color: orange;
    font-size: 20px;
    font-weight: 700;
    margin-right: 55px;
    
}
.nav-items li a:hover {
    color: rgb(189, 33, 33);
    


}
h1, h2, h3{
    text-align: center;
}
h1{
    padding-top: 100px;
    color: rgb(189, 33, 33);
    
}
.button{
    padding-left: 700px;
    padding-bottom: 50px;
}

.button a{
    background-color: rgb(189, 33, 33);
    height: 50px;
    font-size: 30px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-top: 20px;
    color: black;
}
.container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
#menu{
    padding-bottom: 50px;
    font-style: italic;
}

.menu-overlay{
    background-color: rgb(207, 122, 66);
    

}
.menu {
    margin-top: 30px;
    background-image: url("../images/sec/b4.jpg");
    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px ;
    width: 400px;
    height: 400px;
    padding-bottom: 20px;
}

